<template>
<div class="modal-dialog">
    <div class="modal-content">
        <form name="eventForm" submit.trigger="controller.ok('Ok')" class="modal-form form-horizontal">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" click.trigger="controller.cancel()">&times;</button>
                <h3>${dlg.title} <!--<small>Id: ${dlg.event.id}</small>--> ${dlg.event.name}</h3>
            </div>
            <div class="modal-body">

                <!--<div class="control-group">
                        <label for="name" class="control-label">Name:</label>
                        <div class="controls">
                            <input type="text" id="name" name="name" value.bind="event.name" required />*
                        </div>
                    </div>-->

                <div class="row">
                    <label class="span4">
                        Name:
                        <input type="text" name="name" value.bind="dlg.event.name" required class="span3" autofocus />
                    </label>
                    <!--<span class="error" show.bind="eventForm.name.$error.required">Required!</span>-->
                </div>
                <div class="row">
                    <label class="span3">
                        Category:
                        <select type="text" name="category" value.bind="dlg.event.category" class="span2">
                            <option repeat.for="value of dlg.categories">${value}</option>
                        </select>
                    </label>
                    <label class="span3">
                        Max Rank:
                        <select type="text" name="maxRank" value.bind="dlg.event.maxRank" class="span2">
                            <option repeat.for="value of dlg.ranks">${value}</option>
                        </select>
                    </label>
                </div>
                <div class="row">
                    <label class="span3">
                        Date start:
                        <input type="date" name="start" value.bind="dlg.event.start" class="span2" />
                    </label>
                    <label class="span3">
                        end:
                        <input type="date" name="end" value.bind="dlg.event.end" class="span2" />
                    </label>
                </div>
                <!--<div class="row">
                    <label class="span2">Registrations:</label>
                    <div class="offset2">
                        <ul class="span3 unstyled">
                            <li repeat.for="player of dlg.registred">
                                <label><input type="checkbox" check-list="player.registration" value="${event.id}" /> ${player.name}</label>
                            </li>
                        </ul>
                    </div>
                </div>-->
                <hr/>
                <div class="row">
                    <span class="span1">Draws:</span>
                    <div class="offset1">
                        <ul class="unstyled">
                            <li repeat.for="draw of dlg.event.draws">
                                <span><i class="icon2-draw"></i> ${draw.name}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" disabled.bind="!!eventForm.$error.required" 
                    class="btn btn-primary btn-success ${!!eventForm.$error.required ? 'disabled':''}"><i class="icon-ok-sign icon-white"></i>OK</button>
                <a href="#" click.trigger="controller.ok('Del')"><i class="icon-trash"></i></a>
            </div>
            <!--<fieldset>
                    <legend>Coordinate</legend>
                    <div>
                    </div>

                    <div>
                        <label>
                            Rank:
                            <select type="text" name="rank" value.bind="dlg.event.rank">
                                <option repeat.for="value of dlg.ranks">${value}</option>
                            </select>
                        </label>
                    </div>
                </fieldset>-->
            <!--${ eventForm.$error }-->
        </form>
    </div>
</div>
</template>