<template>

<require from="../draw/draw-draw"></require>

<table class="table table-hover table-condensed" style="width:auto;">
    <!--<caption>Events</caption>-->
    <thead>
        <tr>
            <!--<th class="span1"><input type="checkbox" /></th>-->
            <th>Event name</th>
            <th>Draws</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="event of events" class="${event === selection.event ? 'info':''}">
            <!--<td><input type="checkbox" /> <small>${event.id}</small></td>-->
            <td class="${event === selection.event ? 'selected':''}">
                <i class="icon2-info" click.trigger="eventEditor.edit(event)"></i>
                <span click.trigger="selection.select2(event)">${event.name}</span>
                <i class="glyphicon glyphicon-trash" click.trigger="eventEditor.remove(event)"></i>
            </td>
            <td>
                <div repeat.for="draw of event.draws" class="inline ${drawEditor.validation.hasErrorDraw(draw) ? 'error':''} ${draw === selection.draw ? 'selected':''}" style="border-left: solid 1px blue; padding-left: 3px;">
                    <i class="icon2-info" click.trigger="drawEditor.edit(draw)"></i>
                    <span click.trigger="selection.select2(draw)">${draw.name} ${draw.suite ? '(S)' : ''}</span>
                    <i class="glyphicon glyphicon-trash" click.trigger="drawEditor.remove(draw)"></i>
                    <draw-draw draw.one-time="draw" simple.one-time="true" box-width="10" box-height="4" inter-box-width="2" inter-box-height="0"
                         style="position:relative;"
                         click.trigger="selection.select2(draw)">
                    </draw-draw>
                </div>
            </td>
        </tr>
        <tr show.bind="events.length == 0">
            <td colspan="3">No event</td>
        </tr>
    </tbody>
</table>
<!--<div class="action"
     show.bind="selection.event"
     css="left:${(4 + selection.box._x * ctrlDraw.boxWidth) +'px'}; top:${((selection.box._y +1) * ctrlDraw.boxHeight -2) +'px'}">
    <button class="btn" click.trigger="eventEditor.edit(selection.event)" title="Edit the selected event properties">
        <i class="icon2-info"></i>
    </button><button class="btn" click.trigger="eventEditor.remove(selection.event)" title="Remove the selected event">
        <i class="glyphicon glyphicon-trash"></i>
    </button><button class="btn" click.trigger="drawEditor.edit(selection.draw)" title="Edit the selected draw properties">
        <i class="icon2-info"></i>
    </button><button class="btn" disabled.bind="!drawEditor.isMatch(selection.box)" click.trigger="drawEditor.removeDraw(selection.draw)" title="Remove the selected draw">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>-->
</template>