<template>
<require from="./controls/ec-panel/ec-panelset.html"></require>
<require from="./controls/ec-panel/ec-panel.html"></require>
<require from="./controls/ec-panel/ec-badge.html"></require>
<require from="./controls/ec-panel/ec-header.html"></require>
<require from="./controls/event/list-events.html"></require>
<require from="./controls/player/list-players.html"></require>
<require from="./controls/draw/draw-draw.html"></require>

<ec-panelset>
    <ec-panel class="tournament" is-open="tournamentOpened">
        <ec-badge class="tournament"><i class="icon2-ball"></i></ec-badge>
        <ec-header>
            <i class="icon2-info" click.trigger="main.editTournament(main.selection.tournament)"></i>
            ${main.selection.tournament.info.name}
        </ec-header>
        <div class="content">
            <list-events class="inline" events="main.selection.tournament.events"></list-events>

            <div app-version></div>
        </div>
        <div class="footer">
            <div class="btn-group">
                <button class="btn" click.trigger="main.newTournament()"><i class="icon-file"></i> New</button>
                <button class="btn" click.trigger="main.loadTournament()"><i class="icon2-open"></i> Open</button>
                <!--<span ec-input-file onloaded="main.loadTournament(file)"><i class="icon2-open"></i> Open</span>-->
                <button class="btn" click.trigger="main.saveTournament()"><i class="icon2-save"></i> Save</button>
            </div>
            <div class="btn-group">
                <button class="btn" disabled.bind="!main.undo.canUndo()" click.trigger="main.doUndo()"><i class="icon2-undo" title="Undo ${main.undo.messageUndo()}"></i></button>
                <button class="btn" disabled.bind="!main.undo.canRedo()" click.trigger="main.doRedo()"><i class="icon2-redo" title="Redo ${main.undo.messageRedo()}"></i></button>
            </div>
            <button class="btn" click.trigger="main.addEvent(main.selection.event)"><i class="icon-plus"></i> Add event</button>
        </div>
    </ec-panel><ec-panel class="players" is-open="playersOpened">
        <ec-badge class="players"><i class="icon2-player"></i></ec-badge>
        <ec-header>Players</ec-header>
        <div class="content">
            <list-players players="main.selection.tournament.players"></list-players>
        </div>
        <div class="footer">
            <form class="form-horizontal">
                <button class="btn" click.trigger="main.addPlayer()"><i class="icon-plus"></i> Add player</button>
            </form>
        </div>
    </ec-panel><ec-panel class="draws" is-open="drawsOpened">
        <ec-badge class="draws"><i class="icon2-draw"></i></ec-badge>
        <ec-header>
            <form class="form-horizontal">
                <select value.bind="main.selection.event" change.trigger="main.select(main.selection.event)" 
                    class="span2" title="Select an event">
                    <option "event of main.selection.tournament.events">${event.name}</option> 
                </select>

                <i class="icon2-info" click.trigger="main.editDraw(main.selection.draw)" disabled.bind="!main.selection.draw" title="Edit draw properties"></i>
                <select value.bind="main.selection.draw" change.trigger="main.select(main.selection.draw)" 
                    class="span2" title="Select a draw">
                    <option "draw of main.selection.event.draws">${draw.name}</option> 
                </select>
                
                <div class="btn-group" title="Lock/unlock the draw modifications">
                    <button class="btn" value.bind="main.selection.draw.mode" btn-radio="main.Mode.Build" disabled.bind="!main.selection.draw" title="Switch to draw build mode"><i class="icon2-draw"></i></button>
                    <button class="btn" value.bind="main.selection.draw.mode" btn-radio="main.Mode.Plan" disabled.bind="!main.selection.draw" title="Switch to planning mode"><i class="icon2-planning"></i></button>
                    <button class="btn" value.bind="main.selection.draw.mode" btn-radio="main.Mode.Play" disabled.bind="!main.selection.draw" title="Switch to match mode"><i class="icon2-match"></i></button>
                    <button class="btn" value.bind="main.selection.draw.mode" btn-radio="main.Mode.Lock" disabled.bind="!main.selection.draw" title="Lock the draw"><i class="icon2-locker"></i></button>
                </div>
            </form>
        </ec-header>
        <div class="content">
            <draw-draw draw="main.selection.draw" class="inline" style="position:relative;"></draw-draw>

            <div class="inline">
                Validation errors:
                <ul>
                    <li repeat.for="error of main.validation.getErrorDraw(main.selection.draw)" click.trigger="main.selection.selectByError(main.selection.draw, error)">${error.message + ' '+ error.detail}</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <form class="form-horizontal">
                <button class="btn" click.trigger="main.addDraw(main.selection.draw)" disabled.bind="!main.selection.event"><i class="icon-plus"></i> Add draw</button>
                <button class="btn" if.bind="main.selection.draw.mode === 0"
                        click.trigger="main.generateDraw(main.selection.draw, main.GenerateType.Create)" disabled.bind="!main.selection.draw">
                    <i class="icon2-draw-generate"></i> Generate
                </button>
                <div class="btn-group" if.bind="main.selection.draw.mode === 0">
                    <button class="btn" click.trigger="main.generateDraw(main.selection.draw, main.GenerateType.PlusEchelonne)" disabled.bind="!main.selection.draw || main.selection.draw.type >= 2" title="Phased draw more"><i class="icon2-draw-left"></i></button>
                    <button class="btn" click.trigger="main.generateDraw(main.selection.draw, main.GenerateType.PlusEnLigne)" disabled.bind="!main.selection.draw || main.selection.draw.type >= 2" title="Phased draw less"><i class="icon2-draw-bottom"></i></button>
                    <button class="btn" click.trigger="main.generateDraw(main.selection.draw, main.GenerateType.Mix)" disabled.bind="!main.selection.draw" title="Mix the players"><i class="icon2-random"></i></button>
                </div>
                <div class="btn-group" if.bind="main.selection.draw.mode === 0">
                    <button class="btn" click.trigger="main.updateQualif(main.selection.draw)" disabled.bind="!main.selection.draw" title="Set or reset the in qualified"><i class="icon2-qualif-in"></i></button>
                </div>
                <div class="btn-group">
                    <button class="btn" click.trigger="main.validateDraw(main.selection.draw)" disabled.bind="!main.selection.draw" title="Check the draw"><i class="icon2-checkmark"></i> Check</button>
                </div>
            </form>
        </div>
    </ec-panel><ec-panel is-open="planningOpened" class="planning">
        <ec-badge class="planning"><i class="icon2-planning"></i></ec-badge>
        <ec-header>Planning</ec-header>
        <div class="content">
            Not implemented.
        </div>
        <div class="footer">
        </div>
    </ec-panel>
</ec-panelset>
</template>