/* app css stylesheet */

html, body {
    width:100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.debug {
    border: 1px dashed gray;
}

input.ng-invalid {
    background-color: #FFF2F2;
}

input.ng-invalid-required:after {
    content: 'Required !';
    color: lightcoral;
}

label {
    display: inline-block;
}

[class^="icon-"][ng-click],
[class*=" icon-"][ng-click],
[class^="icon2-"][ng-click],
[class*=" icon2-"][ng-click] {
    cursor: pointer;
}

[class^="icon2-"],
[class*=" icon2-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 16px;
    vertical-align: text-top;
    background-image: url("glyphicons.png");
    background-position: 16px 16px;
    background-repeat: no-repeat;
}

.icon2-male {
    background-position: -0px -0px;
}

.icon2-female {
    background-position: -24px -0px;
}

.icon2-mixte {
    background-position: -48px -0px;
}

.icon2-double-male {
    background-position: -72px -0px;
}

.icon2-double-female {
    background-position: -96px -0px;
}

.icon2-double-mixte {
    background-position: -120px -0px;
}

.icon2-mixte {
    background-position: -48px -0px;
}

.icon2-address {
    background-position: -144px -0px;
}

.icon2-checkmark {
    background-position: -168px -0px;
}

.icon2-locker {
    background-position: -192px -0px;
}

.icon2-match {
    background-position: -214px -0px;
}

.icon2-planning-no {
    background-position: -238px -0px;
}

.icon2-note {
    background-position: -262px -0px;
}

.icon2-aware {
    background-position: -72px -24px;
}

.icon2-responder {
    background-position: -96px -24px;
}

.icon2-home {
    background-position: -120px -24px;
}

.icon2-refresh {
    background-position: -238px -24px;
}

.icon2-info {
    background-position: -262px -24px;
}

.icon2-open {
    background-position: -144px -48px;
}

.icon2-save {
    background-position: -168px -48px;
}

.icon2-print {
    background-position: -192px -48px;
}

.icon2-print-preview {
    background-position: -214px -48px;
}

.icon2-cut {
    background-position: -238px -48px;
}

.icon2-copy {
    background-position: -262px -48px;
}

.icon2-paste {
    background-position: -286px -48px;
}

.icon2-undo {
    background-position: -310px -48px;
}

.icon2-redo {
    background-position: -334px -48px;
}

.icon2-switch {
    background-position: -360px -48px;
}

.icon2-zoom {
    background-position: -384px -48px;
}

.icon2-erase {
    background-position: -408px -48px;
}


.icon2-ball {
    background-position: -72px -72px;
}

.icon2-bug {
    background-position: -96px -72px;
}

.icon2-tete-serie {
    background-position: -144px -72px;
}

.icon2-qualif-in {
    background-position: -168px -72px;
}

.icon2-qualif-out {
    background-position: -192px -72px;
}

.icon2-player {
    background-position: -0px -96px;
}

.icon2-planning {
    background-position: -24px -96px;
}

.icon2-pin {
    background-position: -48px -96px;
}

.icon2-draw {
    background-position: -72px -96px;
}

.icon2-draw-generate {
    background-position: -96px -96px;
}

.icon2-draw-left {
    background-position: -120px -96px;
}

.icon2-draw-bottom {
    background-position: -48px -96px;
}

.icon2-draw-bottom {
    background-position: -144px -96px;
}

.icon2-random {
    background-position: -168px -96px;
}

div.draw {
    position: relative;
    /*background-color: lightgray;*/
    border: 1px dashed gray;
}

canvas.draw {
    position: absolute;
}

table.roundrobin {
    border: 1px dashed gray;
}

div.inline {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box, .inPlayer, .empty {
    position: absolute;
    /*border: 1px dashed gray;*/
    width: 140px;
    height: 40px;
}

.played .place, .played .date {
    display: none;
}

.roundrobin .box, .roundrobin .inPlayer, .roundrobin .empty {
    position: initial;
}

.roundrobin .box {
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.box.hidden {
    background-color: lightgray;
}

.diag {
    background-color: lightgray;
}

.box .icon2-info, .inPlayer .icon2-info {
    opacity: .5;
    transition: opacity .6s ease;
}

.box:hover .icon2-info, .inPlayer:hover .icon2-info {
    opacity: 1;
}

.seeded {
    font-weight: bold;
    background-color: darkgray;
    color: white;
    border-radius: 8px;
    padding-left: .3em;
    padding-right: .3em;
}

.qualifIn, .qualifOut {
    font-weight: bold;
    color: red;
}

.box .qualifOut, .box .seeded {
    float: right;
}

tr.error, div.error, span.error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAIAAAA7ljmRAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAXSURBVBhXY/jHwPAPBsAsCJ8BLgxmAAAh+RvJXdMJlQAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position-y: bottom;
}


.panels {
    width: 100%;
    height: 100%;
    white-space: nowrap;

    /*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;*/
}
.panel {
    background-color: #bbb;
    transition: max-width .5s;

    display: inline-block;
    height: 100%;
    overflow: auto;

    /*
    vertical-align: top;
    */
    /*-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    bottom: 0px;*/
}

.panel .header {
    display: block;
    position: absolute;
    padding-left: .5em;
    padding-right: .5em;
    line-height: 3em;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    transition: margin-left .5s;
    box-shadow: rgba(200,200,200,5) -2px -2px inset;
    z-index: 2;
}
.panel .header form {
    margin-bottom: 0px;
}
.panelbadge {
    position: absolute;
    display: block;
    width: 3em;
    line-height: 3em;
    color: #555;
    background-color: #bbb;
    text-align:center;
    z-index: 2;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
    transition: all .5s;
}

.panel:not(.active) .header {
    Zdisplay: none;
    width: 0em;
}
.panel:not(.active) form, .panel:not(.active) button {
    display: none;
}

/*.panel:not(.active) .panelbadge {
    background-color: lightsteelblue;
    color: black;
}*/

.panel .content {
    padding: .5em;
    padding-top: 3.5em;
}

.panel.tournament, .panel.tournament .header {
    background-color: lightpink;
}
.panelbadge.tournament {
    background-color: hotpink;
}

.panel.players, .panel.players .header {
    background-color: lightblue;
}
.panelbadge.players {
    background-color: blueviolet;
}

.panel.draws, .panel.draws .header {
    background-color: #eee;
}
.panelbadge.draws {
    background-color: #ccc;
}

.panel.planning, .panel.planning .header {
    background-color: lightcoral;
}
.panelbadge.planning {
    background-color: coral;
}