<template class="modal-dialog">

    <require from="../controls/tabset"></require>
    <require from="../controls/tab"></require>

    <div class="modal-content">
        <form name="infoForm" submit.trigger="controller.ok('Ok')" class="modal-form form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" click.trigger="controller.cancel()">&times;</button>
                <h3>${title} ${info.name}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="span4">Name: <input type="text" name="name" value.bind="info.name" required autofocus attach-focus="true" class="span3" /></label>
                    <!--<span class="error help-inline" show.bind="infoForm.name.$error.required">Required!</span>-->
                </div>
                <div class="row">
                    <label class="span3">Begin: <input type="date" name="start" value.bind="info.start" class="span2" /></label>
                    <label class="span3">End: <input type="date" name="end" value.bind="info.end" class="span2" /></label>
                </div>
                <div class="row">
                    <label class="span6">Homologation: <input type="text" value.bind="info.homologation" class="span2" /></label>
                </div>

                <tabset>
                    <tab heading="Club">
                        <div class="row">
                            <label class="span4">Name: <input type="text" value.bind="info.club.name" class="offset1 span3" /></label>
                        </div>
                        <div class="row">
                            <label class="span4">Adress: <input type="text" value.bind="info.club.adress1" class="span3" /></label>
                            <label class="span4"><input type="text" value.bind="info.club.adress2" class="span3" /></label>
                            <label class="span4">
                                <input type="text" value.bind="info.club.zipcode" class="span1" />
                                <span class="spacer"></span>
                                <input type="text" value.bind="info.club.city" class="span2" />
                            </label>
                        </div>
                    </tab>

                    <tab heading="Referee">
                        <div class="row">
                            <label class="span4">Name: <input type="text" value.bind="info.referee.name" class="offset1 span3" /></label>
                        </div>
                        <div class="row">
                            <label class="span3">Licence: <input type="text" value.bind="info.referee.licence" class="offset1 span2" /></label>
                        </div>
                        <div class="row">
                            <label class="span4">Adress: <input type="text" value.bind="info.referee.adress1" class="span3" /></label>
                            <label class="span4"><input type="text" value.bind="info.referee.adress2" class="span3" /></label>
                            <label class="span4">
                                <input type="text" value.bind="info.referee.zipcode" class="span1" />
                                <span class="spacer"></span>
                                <input type="text" value.bind="info.referee.city" class="span2" />
                            </label>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="submit" disabled.bind="!!infoForm.$error.required" 
                    class="btn btn-primary btn-success ${!!infoForm.$error.required ? 'disabled':''}">
                    <i class="glyphicon glyphicon-ok-sign icon-white"></i> OK
                </button>
            </div>
        </form>
    </div>
</template>