<template>
    <require from="../controls/tabset"></require>
    <require from="../controls/tab"></require>

    <div class="modal-dialog">

        <div class="modal-content">
            <form submit.trigger="controller.ok('Ok')" class="modal-form form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" click.trigger="controller.cancel()">&times;</button>
                    <h4>${title}<!--<small>Id: ${match.id}</small>--></h4>
                </div>
                <div class="modal-body">

                    <div class="row form-group">
                        <label class="col-xs-3">Winner:</label>
                        <input id="winner1" type="radio" checked.bind="match.playerId" value.bind="player1.id" class="col-xs-1" />
                        <label for="winner1" class="radio col-xs-6">${player1.name} ${player1.rank}</label><br/>

                        <label class="col-xs-3"></label>
                        <input id="winner2" type="radio" checked.bind="match.playerId" value.bind="player2.id" class="col-xs-1" />
                        <label for="winner2" class="radio col-xs-6">${player2.name} ${player2.rank}</label>
                    </div>
                    <div class="row form-group">
                        <label class="col-xs-3">Score:</label>
                        <input type="text" value.bind="match.score" class="col-xs-5" />

                        <!--<span class="error" show.bind="matchForm.name.$error.required">Required!</span>-->
                        <input id="wo" type="checkbox" checked.bind="match.wo" class="col-xs-1" /><label for="wo" class="checkbox col-xs-2">WO</label>
                    </div>
                    <div class="row form-group">
                        <span class="col-xs-3"></span>
                        <div class="display:inline-block">
                            <label class="checkbox col-xs-4"><input type="checkbox" checked.bind="match.canceled" />Canceled</label>
                            <label class="checkbox col-xs-4"><input type="checkbox" checked.bind="match.vainqDef" />Vainqueur defaillant</label>
                        </div>
                    </div>
                    <tabset>
                        <tab heading="Planning">
                            <br/>
                            <div class="row form-group">
                                <label for="place" class="col-xs-3">Court:</label>
                                <select id="place" value.bind="match.place" class="col-xs-5">
                                    <option model.bind="undefined"></option> 
                                    <option repeat.for="place of places">${place}</option> 
                                </select>
                            </div>
                            <div class="row form-group">
                                <label for="date" class="col-xs-3">Date:</label>
                                <input id="date" type="datetime" value.bind="match.date" class="col-xs-4" />
                            </div>
                            <div class="row form-group">
                                <label class="col-xs-6">${player1.name} :</label>
                                <label class="checkbox col-xs-2"><input type="checkbox" checked.bind="match.aware1" />Aware</label>
                                <label class="checkbox col-xs-2"><input type="checkbox" checked.bind="match.receive1" />Receive</label>
                            </div>
                            <div class="row form-group">
                                <label class="col-xs-6">${player2.name} :</label>
                                <label class="checkbox col-xs-2"><input type="checkbox" checked.bind="match.aware2" />Aware</label>
                                <label class="checkbox col-xs-2"><input type="checkbox" checked.bind="match.receive2" />Receive</label>
                            </div>
                        </tab>
                        <tab heading="Comment">
                            <br/>
                            <div class="row form-group">
                                <label for="matchformat" class="col-xs-3">Format:</label>
                                <!--TODO 
                                <select id="matchformat" value.bind="match.matchFormat" class="col-xs-4">
                                    <option repeat.for="[key, matchFormat] of matchFormats" model.bind="key">${matchFormat.name}</option>
                                </select>
                                -->
                            </div>
                            <div class="row form-group">
                                <label class="col-xs-3">Note:</label>
                                <textarea value.bind="match.note" class="col-xs-8"></textarea>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button type="submit" disabled.bind="!!matchForm.$error.required" class="btn btn-primary btn-success ${!!matchForm.$error.required ? 'disabled':''}">
                        <i class="glyphicon glyphicon-ok-sign icon-white"></i> OK
                    </button>
                    <!--<a href="#" click.trigger="controller.ok('Del')"><i class="glyphicon glyphicon-trash"></i></a>-->
                </div>
            </form>
        </div>
    </div>
</template>