<template>
<div class="modal-dialog">
    <div class="modal-content">
        <form name="drawForm" submit.trigger="controller.ok('Ok')" class="modal-form form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" click.trigger="controller.cancel()">&times;</button>
                <h3>${title} <!--<small>Id: ${draw.id}</small>--> ${draw.name}</h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <label class="span4">
                        Name:
                        <input type="text" name="name" value.bind="draw.name" required class="span3" autofocus attach-focus="true" />
                    </label>
                    <!--<span class="error" show.bind="drawForm.name.$error.required">Required!</span>-->
                </div>

                <div class="row">
                    <label class="span3">
                        Type:
                        <select name="type" value.bind="draw.type" required class="span2">
                            <option repeat.for="type of drawTypes" value.bind="type.value">${type.label}</option>
                        </select>
                    </label>
                    <!--<span class="error" show.bind="drawForm.name.$error.required">Required!</span>-->
                </div>

                <div class="row">
                    <label class="span3">
                        Rank, from:
                        <select name="minRank" value.bind="draw.minRank" class="span2">
                            <option repeat.for="value of ranks">${value}</option> 
                        </select>
                    </label>
                    <label class="span3">
                        to:
                        <select name="maxRank" value.bind="draw.maxRank" class="span2">
                            <option repeat.for="value of ranks">${value}</option> 
                        </select>
                    </label>
                </div>

                <div class="row">
                    <div class="offset1">
                        <label>${getRegisteredCount()} registered</label>
                    </div>
                </div>

                <fieldset>
                    <legend>Dimensions:</legend>
                    <!--<div class="row">
                        <label class="span2">
                            Entries:
                            <input type="number" readonly value.bind="getNbEntry()" class="span1"/>
                        </label>
                    </div>-->
                    <div class="row">
                        <label class="span2">
                            Columns:
                            <input type="number" name="nbColumn" value.bind="draw.nbColumn" min="2" max="9" required class="span1" />
                        </label>
                        <label class="span2">
                            Outputs:
                            <input type="number" name="nbOut" value.bind="draw.nbOut" min="1" max="16" required class="span1" />
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" click.trigger="controller.ok('Generate')" disabled.bind="!!drawForm.$error.required" class="btn btn-success ${!!drawForm.$error.required ? 'disabled' :''}"><i class="icon2-draw-generate"></i> Generate</button>
                <button type="submit" disabled.bind="!!drawForm.$error.required" class="btn btn-primary btn-success ${!!drawForm.$error.required ? 'disabled': ''}"><i class="icon-ok-sign icon-white"></i> OK</button>
                <a href="#" click.trigger="controller.ok('Del')"><i class="icon-trash"></i></a>
            </div>
        </form>
    </div>
</div>
</template>