<template>
<form name="matchForm" submit.trigger="controller.ok('Ok')" class="modal-form form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" click.trigger="controller.cancel()">&times;</button>
        <h3>${dlg.title} <!--<small>Id: ${dlg.match.id}</small>--></h3>
    </div>
    <div class="modal-body">

            <div class="row">
                <label class="span1">Winner:</label>
                <div class="offset1">
                    <label class="radio"><input type="radio" name.bind="dlg.match.playerId" value.bind="dlg.player1.id" /> ${dlg.player1.name} ${dlg.player1.rank}</label><br />
                    <label class="radio"><input type="radio" name.bind="dlg.match.playerId" value.bind="dlg.player2.id" /> ${dlg.player2.name} ${dlg.player2.rank}</label>
                </div>
            </div>
            <div class="row">
                <label class="span4">
                    Score:
                    <input type="text" name="score" value.bind="dlg.match.score" class="span3" />
                </label>
                <!--<span class="error" show.bind="matchForm.name.$error.required">Required!</span>-->
                <label class="checkbox span1"><input type="checkbox" value.bind="dlg.match.wo" />WO</label>
            </div>
            <div class="row">
                <div class="offset1">
                    <label class="checkbox span2"><input type="checkbox" value.bind="dlg.match.canceled" />Canceled</label>
                    <label class="checkbox span2"><input type="checkbox" value.bind="dlg.match.vainqDef" />Vainqueur defaillant</label>
                </div>
            </div>
        <div tabset="">
            <div tab="" heading="Planning">
                <div class="row">
                    <label class="span3">Court: <select value.bind="dlg.match.place" class="span2">
                        <option repeat.for="place of dlg.places">${place}</option> 
                        </select></label>
                    <label class="span3">Date: <input type="datetime" value.bind="dlg.match.date" class="span2" /></label>
                </div>
                <div class="row">
                    <label class="span2">${dlg.player1.name} :</label>
                    <label class="checkbox span2"><input type="checkbox" value.bind="dlg.match.aware1" />Aware</label>
                    <label class="checkbox span2"><input type="checkbox" value.bind="dlg.match.receive1" />Receive</label>
                </div>
                <div class="row">
                    <label class="span2">${dlg.player2.name} :</label>
                    <label class="checkbox span2"><input type="checkbox" value.bind="dlg.match.aware2" />Aware</label>
                    <label class="checkbox span2"><input type="checkbox" value.bind="dlg.match.receive2" />Receive</label>
                </div>
            </div>
            <div tab="" heading="Comment">
                <div class="row">
                    <label class="span5">Format: <select value.bind="dlg.match.matchFormat" class="span4">
                         <option repeat.for="(key,matchFormat) of dlg.matchFormats" name.bind="key">${matchFormat.name}</option>
                        </select></label>
                </div>

                <div class="row">
                    <label class="span6">Note: <textarea value.bind="dlg.match.note" class="span5"></textarea></label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" disabled.bind="!!matchForm.$error.required" class="btn btn-primary btn-success ${!!matchForm.$error.required ? 'disabled':''}"><i class="icon-ok-sign icon-white"></i> OK</button>
        <!--<a href="#" click.trigger="controller.ok('Del')"><i class="icon-trash"></i></a>-->
    </div>
</form>
</template>