<template>
    <require from="./draw-box"></require>

    <div if.bind="isKnockout" class="draw knockout" css="width: ${width +'px'}; height: ${height +'px'}"
        click.trigger="main.select(null,main.ModelType.Box)">
        <canvas draw-lines.bind="_this"><v:shape filled="0" stroked="1" style="position:absolute; left:0px; top:0px;"/></canvas>
        <div repeat.for="box of draw.boxes" if.bind="!simple">
            <draw-box box.bind="box" dd.bind="_this" class="box"
                css="left:${(box._x * boxWidth) +'px'}; top:${(box._y * boxHeight) +'px'}"></draw-box>
        </div>
    </div>
    <table if.bind="!isKnockout" class="draw roundrobin"
        click.trigger="main.select(null,main.ModelType.Box)">
        <tbody>
            <tr css="height: ${boxHeight +'px'}">
                <td css="width: ${boxWidth +'px'}"></td>
                <td repeat.for="row of rows" css="width: ${boxWidth +'px'}">
                    <div draw-box="getBox(row[0])" if.bind="!simple"></div>
                </td>
                <td>
                    <div repeat.for="i of range(1, draw.nbOut)" class="qualifOut">Q${i}</div>
                </td>
            </tr>
            <tr repeat.for="row of rows" css="height: ${boxHeight +'px'}">
                <td repeat.for="col of row" class="${isDiag(col) ?'diag':''}">
                    <div draw-box="getBox(col)" if.bind="!simple"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="action"
        if.bind="!simple && main.selection.box"
        css="left: ${(1+ main.selection.box._x * boxWidth) +'px'}; top:${((main.selection.box._y +1) * boxHeight -2) +'px'}"
        >
        <div class="btn-group" if.bind="draw.mode == 0">
            <button class="btn dropdown-toggle" disabled.bind="isMatch(main.selection.box)" title="Select the qualified">
                <i class="icon2-qualif-in"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li repeat.for="q of getQualifsIn()">
                    <a click.trigger="setPlayer(main.selection.box, q._player, q.qualifOut)">
                        <i class="icon2-white" class="${findQualifIn(q.qualifOut) ? 'icon2-checkmark':''}"></i><!-- -->
                        ${'Q' + q.qualifOut + ' ' + q._player.name}
                    </a>
                </li>
            </ul>
        </div><div class="btn-group" if.bind="draw.mode == 0">
            <button class="btn dropdown-toggle" disabled.bind="isMatch(main.selection.box)" title="Edit the player">
                <i class="icon2-player"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a click.trigger="main.editPlayer(main.selection.box._player)"><i class="icon2-info"></i> Edit</a></li>
                <li class="divider"></li>
                <li repeat.for="player of getPlayers()">
                    <a click.trigger="setPlayer(main.selection.box, player)">
                        <i class="icon2-white" class="${findPlayer(player.id) ? 'icon2-checkmark':''}"></i>
                        ${player.name +' '+ player.rank}
                    </a>
                </li>
            </ul>
        </div><button class="btn" if.bind="draw.mode == 0" disabled.bind="!main.selection.box.playerId"
                    click.trigger="swapPlayer(main.selection.box)" title="Swap the player">
            <i class="icon2-switch"></i>
        </button><button class="btn" if.bind="draw.mode == 0" disabled.bind="!main.selection.box.playerId && !main.selection.box.qualifIn"
                        click.trigger="setPlayer(main.selection.box)" title="Remove the player">
            <i class="icon2-erase"></i>
        </button>

        <button class="btn" if.bind="draw.mode == 1" disabled.bind="!isMatch(main.selection.box)"
                click.trigger="main.editMatch(main.selection.box)" title="Set the date and hour of the match">
            <i class="icon2-planning"></i>
        </button><button class="btn" if.bind="draw.mode == 1" disabled.bind="!isMatch(main.selection.box)"
                        click.trigger="main.editMatch(main.selection.box)" title="Change the match place">
            <i class="glyphicon glyphicon-map-marker"></i>
        </button><button class="btn" if.bind="draw.mode == 1" disabled.bind="!main.selection.box.place && !main.selection.box.date"
                        click.trigger="main.editMatch(main.selection.box)" title="Remove the place and date of the match">
            <i class="icon2-erase"></i>
        </button>

        <button class="btn" if.bind="draw.mode == 2" disabled.bind="!isMatch(main.selection.box)"
                click.trigger="main.editMatch(main.selection.box)" title="Edit the match">
            <i class="icon2-match"></i>
        </button><button class="btn" if.bind="draw.mode == 2" disabled.bind="!main.selection.box.playerId"
                        click.trigger="main.editMatch(main.selection.box)" title="Remove the result">
            <i class="icon2-erase"></i>
        </button>
    </div>
</template>