<template>
<div class="${ctrlBox.isMatch ? 'match' : ''} ${!ctrlBox.isMatch ? 'inPlayer':''} ${ctrlBox.isPlayed() ? 'played:''}
     ${ctrlBox.box.hidden ? 'hidden':''} ${ ctrlBox.box === main.selection.box ? 'selected':''} ${ctrlBox.error ? 'error':''}"
     title="${ctrlBox.error ? ctrlBox.error.message +' '+ ctrlBox.error.detail : ''}"
     click.trigger="main.select(ctrlBox.box, main.ModelType.Box)"
     >
    <span if.bind="ctrlBox.box.qualifIn" class="qualifIn">${ctrlBox.box.qualifIn === -1 ? 'Q?' : 'Q' + ctrlBox.box.qualifIn}</span>
    <span if.bind="ctrlBox.box.seeded" class="seeded">${ctrlBox.box.seeded}</span>
    ${ctrlBox.box._player.name}
    <span if.bind="!ctrlBox.isMatch" class="rank">${ctrlBox.box._player.rank}</span>
    <span if.bind="ctrlBox.box.qualifOut" class="qualifOut">Q${ctrlBox.box.qualifOut}</span>
    <br />
    <span if.bind="ctrlBox.isMatch">
        <span class="place">${ctrlBox.box.place}</span>
        <span class="date">${ctrlBox.box.date}</span>
        <span class="score">${ctrlBox.box.score}</span>
    </span>
    <span if.bind="!ctrlBox.isMatch" class="club">${ctrlBox.box._player.club}</span>
    &nbsp;
</div>
<template>