<div ng-class="{match: ctrlBox.isMatch, inPlayer: !ctrlBox.isMatch, played:ctrlBox.isPlayed(), hidden: ctrlBox.box.hidden, selected: ctrlBox.box === main.selection.box, error: ctrlBox.error}"
     title="{{ctrlBox.error ? ctrlBox.error.message +' '+ ctrlBox.error.detail : ''}}"
     ng-click="main.select(ctrlBox.box, main.ModelType.Box)"
     ng-switch="ctrlBox.isMatch">
    <span ng-if="ctrlBox.box.qualifIn" class="qualifIn">{{ctrlBox.box.qualifIn === -1 ? 'Q?' : 'Q' + ctrlBox.box.qualifIn}}</span>
    <span ng-if="ctrlBox.box.seeded" class="seeded">{{ctrlBox.box.seeded}}</span>
    {{ctrlBox.box._player.name}}
    <span ng-switch-when="false" class="rank">{{ctrlBox.box._player.rank}}</span>
    <span ng-if="ctrlBox.box.qualifOut" class="qualifOut">Q{{ctrlBox.box.qualifOut}}</span>
    <br />
    <span ng-switch-when="true">
        <span class="place">{{ctrlBox.box.place}}</span>
        <span class="date">{{ctrlBox.box.date}}</span>
        <span class="score">{{ctrlBox.box.score}}</span>
    </span>
    <span ng-switch-when="false" class="club">{{ctrlBox.box._player.club}}</span>
    &nbsp;
</div>