<template class="modal-dialog">

    <require from="../controls/tabset"/>

    <div class="modal-content">
        <form name="playerForm" submit.trigger="controller.ok('Ok')" class="modal-form form-horizontal">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" click.trigger="controller.cancel()">&times;</button>
                <h3>${title} <!--<small>Id: ${player.id}</small>--></h3>
            </div>
            <div class="modal-body">

                <!--<div class="control-group">
                    <label for="name" class="control-label">Name:</label>
                    <div class="controls">
                        <input type="text" id="name" name="name" value.bind="player.name" required />*
                    </div>
                </div>-->

                <div class="row">
                    <label class="span3">
                        Name:
                        <input type="text" value.bind="player.name" required class="span2" autofocus attach-focus="true" />
                    </label>
                    <!--<span class="error" show.bind="playerForm.name.$error.required">Required!</span>-->
                    <label class="span3">
                        Surname:
                        <input type="text" value.bind="player.firstname" class="span2" />
                    </label>
                </div>
                <div class="row">
                    <label class="span3">
                        Rank:
                        <select type="text" name="rank" value.bind="player.rank" class="span2">
                            <option repeat.for="value of ranks">${value}</option> 
                        </select>
                    </label>
                </div>

                <tabset>
                    <tab heading="General">
                        <div class="row">
                            <label class="span4">Birth: <input type="date" value.bind="player.birth" class="span3" /></label>
                        </div>
                        <div class="row">
                            <label class="span4">Club: <input type="text" value.bind="player.club" class="span3" /></label>
                        </div>
                        <div class="row">
                            <label class="span3">Licence: <input type="text" value.bind="player.licence" class="span2" /></label>
                        </div>
                    </tab>
                    <tab heading="Registration">
                        <div class="row">
                            <label class="span1">Events:</label>
                            <div class="offset1">
                                <ul class="span3 unstyled">
                                    <li repeat.for="event of events">
                                        <label><input type="checkbox" model.bind="event.id" checked.bind="player.registration" /> ${event.name}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Coordinates">
                        <div class="row">
                            <label class="span5">Adress: <input type="text" value.bind="player.adress1" class="span4" /></label>
                            <label class="span5"><input type="text" value.bind="player.adress2" class="span4" /></label>
                            <label class="span5">
                                <input type="text" value.bind="player.zipcode" class="span1" />
                                <span class="spacer"></span>
                                <input type="text" value.bind="player.city" class="span3" />
                            </label>
                        </div>
                        <div class="row">
                            <label class="span5">
                                Phones:
                                <input type="tel" value.bind="player.phone1" class="span2" />
                                <span class="spacer"></span>
                                <input type="tel" value.bind="player.phone2" class="span2" />
                            </label>
                        </div>
                        <div class="row">
                            <label class="span5">
                                eMail:
                                <input type="email" value.bind="player.email" class="span4" />
                            </label>
                        </div>
                    </tab>
                    <!--<tab heading="Team">
                    </tab>-->
                    <tab heading="Comment">
                        <div class="row">
                            <label class="span6">
                                Note:
                                <textarea value.bind="player.note" class="span5"></textarea>
                            </label>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="submit" disabled.bind="!!playerForm.$error.required" class="btn btn-primary btn-success ${!!playerForm.$error.required ? 'disabled':''}"><i class="glyphicon glyphicon-ok-sign icon-white"></i>OK</button>
                <a href="#" click.trigger="controller.ok('Del')">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
            <!--<fieldset>
                    <legend>Coordinate</legend>
                    <div>
                    </div>

                    <div>
                        <label>
                            Rank:
                    <select type="text" name="rank" value.bind="player.rank">
                        <option repeat.for="value of ranks">${value}</option>
                    </select></label>
                    </div>
                </fieldset>-->
            <!--${ playerForm.$error }-->
        </form>
    </div>
</template>