<template>
    <!-- <span class="input-append text-right" style="text-align:right;">
        <input placeholder="Search player list" type="search" class="span2"/>
        <button type="submit" class="btn">Search</button>
    </span>-->
    <table class="table table-hover table-condensed" style="width:auto;">
        <!--<caption>Players</caption>-->
        <thead>
            <tr>
                <th class="span1"><input type="checkbox" /></th>
                <th>Player name</th>
                <th>Rank</th>
                <th>Registrations</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="player of players" class="${player === main.selection.player ? 'info' : ''}">
                <td><input type="checkbox" checked.bind="selected"/> <!--<small>${player.id}</small>--></td>
                <td><i class="icon2-info" click.delegate="main.editPlayer(player)"></i>${player.name} ${player.firstname}</td>
                <td>${player.rank}</td>
                <td><span repeat.for="eventId of player.registration">${eventById(eventId).name}${$last ? '' : ', '}</span></td>
                <td><i class="glyphicon glyphicon-trash" click.delegate="main.removePlayer(player)"></i></td>
            </tr>
            <tr show.bind="players.length == 0">
                <td colspan="3">No player</td>
            </tr>
        </tbody>
    </table>
    <!--<p>Total: ${players.length}</p>-->
</template>