<form name="drawForm" ng-submit="$close('Ok')" zzzng-controller="dialogDrawCtrl as dlg" class="modal-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
        <h3>{{dlg.title}} <small>Id: {{dlg.draw.id}}</small> {{dlg.draw.name}}</h3>
    </div>
    <div class="modal-body Zform-horizontal">

        <div>
            <label class="">
                Type:
                <select name="type" ng-model="dlg.draw.type" ng-options="type.value as type.label for type in dlg.drawTypes" required class="span2"></select>
            </label>
            <!--<span class="error" ng-show="drawForm.name.$error.required">Required!</span>-->
        </div>

        <div>
            <label class="">
                Rank, between:
                <select name="minRank" ng-model="dlg.draw.minRank" ng-options="value for value in dlg.ranks" class="span2"></select>
            </label>
            <label class="">
                and:
                <select name="maxRank" ng-model="dlg.draw.maxRank" ng-options="value for value in dlg.ranks" class="span2"></select>
            </label>

            <label>{{dlg.getRegisteredCount()}} registered</label>
        </div>

        <fieldset>
            <legend>Dimensions:</legend>
            <!--label class="">
                Entries:
                    <input type="number" name="nbEntry" ng-model="dlg.getNbEntry()" class="span2" disabled="disabled" /></label-->
            <label class="">
                Columns:
                <input type="number" name="nbColumn" ng-model="dlg.draw.nbColumn" min="2" max="9" required class="span2" />
            </label>
            <label class="">
                Outputs:
                <input type="number" name="nbOut" ng-model="dlg.draw.nbOut" min="1" max="16" required class="span2" />
            </label>
        </fieldset>
        <div>
            <label class="">
                Name:
                <input type="text" name="name" ng-model="dlg.draw.name" required class="span2" />
            </label>
            <!--<span class="error" ng-show="drawForm.name.$error.required">Required!</span>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$close('Generate')" ng-disabled="!!drawForm.$error.required" ng-class="{'disabled': !!drawForm.$error.required}" class="btn btn-success"><i class="icon2-draw-generate"></i> Generate</button>
        <button type="submit" ng-disabled="!!drawForm.$error.required" ng-class="{'disabled': !!drawForm.$error.required}" class="btn btn-primary btn-success"><i class="icon-ok-sign icon-white"></i> OK</button>
        <a href="#" ng-click="$close('Del')"><i class="icon-trash"></i></a>
    </div>
</form>
