<div ng-class="{box: ctrlBox.isMatch, inPlayer: !ctrlBox.isMatch, played:ctrlBox.isPlayed(), hidden: ctrlBox.box.hidden, error: ctrlBox.error}"
     title="{{ctrlBox.error.message +' '+ ctrlBox.error.detail}}">
    <span ng-if="ctrlBox.box.qualifIn" class="qualifIn">{{ctrlBox.box.qualifIn === -1 ? 'Q?' : 'Q' + ctrlBox.box.qualifIn}}</span>
    <span ng-if="ctrlBox.box.seeded" class="seeded">{{ctrlBox.box.seeded}}</span>
    <i class="icon2-player" ng-if="ctrlBox.box._player" ng-click="main.editPlayer(ctrlBox.box._player)" title="Edit the player"></i>{{ctrlBox.box._player.name}}
    <span ng-if="!ctrlBox.isMatch" class="rank">{{ctrlBox.box._player.rank}}</span>
    <span ng-if="ctrlBox.box.qualifOut" class="qualifOut">Q{{ctrlBox.box.qualifOut}}</span>
    <br />
    <span ng-if="ctrlBox.isMatch">
        <i class="icon2-match" ng-click="main.editMatch(ctrlBox.box)" title="Edit the match"></i>
        <span class="place">{{ctrlBox.box.place}}</span>
        <span class="date">{{ctrlBox.box.date}}</span>
        <span class="score">{{ctrlBox.box.score}}</span>
    </span>
    <span ng-if="!ctrlBox.isMatch" class="club">{{ctrlBox.box._player.club}}</span>
</div>
