div.draw {
    position: relative;
    /*border: 1px dashed gray;*/
}

table.roundrobin {
    /*border: 1px dashed gray;*/
}

div.inline {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box, .inPlayer, .empty {
    position: absolute;
    /*border: 1px dashed gray;*/
    width: 140px;
    height: 40px;
}

.played .place, .played .date {
    display: none;
}

.roundrobin .box, .roundrobin .inPlayer, .roundrobin .empty {
    position: initial;
}

.roundrobin .box {
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.box.hidden {
    background-color: lightgray;
}

.diag {
    background-color: lightgray;
}

.box .icon2-info, .inPlayer .icon2-info {
    -webkit-opacity: .5;
    opacity: .5;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
}

.box:hover .icon2-info, .inPlayer:hover .icon2-info {
    -webkit-opacity: 1;
    opacity: 1;
}

.box .selected {
    background-color: rgba(150, 211, 242, .4) !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOYdvlTGgAHIALCPurcFAAAAABJRU5ErkJggg==);
}

.seeded {
    font-weight: bold;
    background-color: darkgray;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding-left: .3em;
    padding-right: .3em;
}

.qualifIn, .qualifOut {
    font-weight: bold;
    color: red;
}

.box .qualifOut, .box .seeded {
    float: right;
}

.action {
    position: absolute;
    background-color: #ccc;
    z-index: 3;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

    .action .btn, .btn-group .btn {
        padding-left: 6px;
        padding-right: 6px;
    }
